.page2{
    height: 21%;
    margin-top: 20%;
    position: relative;
    background: white;
    width: 150%;
    left: -20%;
    padding-top: 160px;
    display:flex;
    color: black;
}
.scanscreen{
    position: relative;
    top: 15px;
    width: calc(100% + -1px);
}
.rightText{
    right: -23%;
    top: -11%;
    position: relative;
    display: flex;
    flex-direction: column;

}
.marvel-device.iphone-x{
    transform:scale(0.6);
    position: relative;
    left:13%;
    top:-61%;
}